@use "../abstracts" as abs
    
.header__list
    display: flex

.header__input
    border-radius: 8px
    border: 1px solid abs.$grey-900
    padding: 0.25em
    width: 5em

.button--header
    background: abs.$blue-600
    
    &:hover
        background: abs.$blue-350

.button--header-confirm
    font-weight: bold